<%= simple_form_for(@user_profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :surname %>
    <%= f.input :sex %>
    <%= f.input :birthdate %>
    <%= f.input :height %>
    <%= f.input :weight %>
    <%= f.input :smoker %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :address3 %>
    <%= f.input :suburb %>
    <%= f.input :state %>
    <%= f.input :country %>
    <%= f.input :postcode %>
    <%= f.input :email1 %>
    <%= f.input :email2 %>
    <%= f.input :phone_home %>
    <%= f.input :phone_mob %>
    <%= f.input :profession %>
    <%= f.input :title %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
