<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user_profile.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @user_profile.middle_name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user_profile.surname %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user_profile.sex %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user_profile.birthdate %>
</p>

<p>
  <strong>Height:</strong>
  <%= @user_profile.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @user_profile.weight %>
</p>

<p>
  <strong>Smoker:</strong>
  <%= @user_profile.smoker %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @user_profile.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @user_profile.address2 %>
</p>

<p>
  <strong>Address3:</strong>
  <%= @user_profile.address3 %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @user_profile.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @user_profile.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user_profile.country %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user_profile.postcode %>
</p>

<p>
  <strong>Email1:</strong>
  <%= @user_profile.email1 %>
</p>

<p>
  <strong>Email2:</strong>
  <%= @user_profile.email2 %>
</p>

<p>
  <strong>Phone home:</strong>
  <%= @user_profile.phone_home %>
</p>

<p>
  <strong>Phone mob:</strong>
  <%= @user_profile.phone_mob %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @user_profile.profession %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user_profile.title %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
